<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/addCase2.css">
    <link rel="icon" href="/img/balance.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark " dir="rtl" style="background-color: #334257">
        <div class="container-fluid" style="background-color: #334257">
            <img class="imgUser" src=<%=user.profilePic%> alt="">

            <a class="navbar-brand" href="#">
                <%=user.lawyerName%>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown" dir="ltr">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/userCases?userId=<%=user._id%>" style="color: white;">القضايا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/background-events?userId=<%=user._id%>" style="color: white;">الجلسات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-logout" href="/api/auth/logout" style="color: white;">
                            <img src="/img/logout.png" class="imgLogout" alt="" srcset=""> تسجيل الخروج</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h3>اضافة قضية</h3>
        <div class="addLawyer">
            <form action="/api/cases" method="POST" enctype="multipart/form-data" id="caseForm"><br>
                <div class="row" dir="rtl">
                    <div class="row" dir="rtl">
                        <div class="col-xl-6" dir="rtl">
                            <label for="" class="labelInput">رقم القضية</label>
                            <input type="text" name="caseNumber" id="caseNumber" class="form-control1 inputCase"><br>

                            <label for="" class="labelInput">نوع القضية</label>
                            <input type="text" name="caseType" id="caseType" class="form-control1 inputCase">

                        </div>
                        <div class="col-xl-6">
                            <label for="" class="labelInput">تاريخ القضية</label>
                            <input type="date" name="caseDate" id="caseDate" class="form-control1 inputCase">
                            <br>
                            <label for="" class="labelInput">المحكمة</label>
                            <input type="text" name="courtName" id="courtName" class="form-control1 inputCase">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <label for="" class="labelInput">اسم الموكل</label>
                            <input type="text" name="clientName" id="clientName" class="form-control1 inputCase"><br>
                            <label for="" class="labelInput">صفة الموكل</label>
                            <input type="text" name="clientFeature" id="clientFeature" class="form-control1 inputCase">

                        </div>
                        <div class="col-xl-6">
                            <label for="" class="labelInput">رقم هاتف الموكل</label>
                            <input type="text" name="clientTelephone" id="clientTelephone" class="form-control1 inputCase"><br>
                            <label for="" class="labelInput">اسم محامي المكتب</label>
                            <input type="text" name="clientLawyerName" id="clientLawyerName" class="form-control1 inputCase">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <label for="" class="labelInput">اسم الخصم &nbsp; &nbsp; &nbsp; &nbsp; </label>
                            <input type="text" name="opponentName" id="opponentName" class="form-control1 inputCase">
                            <br>
                            <label for="" class="labelInput">صفة الخصم &nbsp; &nbsp; </label>
                            <input type="text" name="opponentFeature" id="opponentFeature" class="form-control1 inputCase">
                            <br>
                            <label for="" class="labelInput">المصروفات</label>
                            <input type="number" name="expenses" id="expenses" min="0" class="form-control1 inputCase">
                        </div>
                        <div class="col-xl-6">
                            <label for="" class="labelInput">رقم هاتف الخصم&nbsp; &nbsp;</label>
                            <input type="text" name="opponentTelephone" id="opponentTelephone" class="form-control1 inputCase">
                            <br>
                            <label for="" class="labelInput">اسم محامي الخصم</label>
                            <input type="text" name="opponentLawyerName" id="opponentLawyerName" class="form-control1 inputCase">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="" class="labelInput">مستندات</label>
                            <br>
                            <input type="file" multiple accept="image/*,.pdf,.doc,.docx" name="files" id="files" class="form-control1 inputCase" style="width: 70%; margin-right: 2%;">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="" class="labelInput" style="width: 23%;">ملاحظات</label><br>
                            <textarea name="description" id="description" cols="90" rows="6"></textarea>

                        </div>
                    </div>
                    <br>
                    <button type="submit" id="submitAddCase" class="buttonAddCase">اضافة قضية</button>
                </div>
            </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-3.6.0.slim.min.js"></script>
    <script src="js/popper.min.js"></script>

    <script src="js/admin.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- <script>
                document.getElementById('caseForm').addEventListener("submit", (event) => {
                    event.preventDefault();
                    Swal.fire(
                        'تم الاضافة بنجاح',
                        'You clicked the button!',
                        'success'
                    )
                });
            </script> -->
</body>

</html>